.wrapperDiv {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.cardContainer {
  width: 40vw;
  height: 120px;
  background-color: rgba(255, 180, 180, 0.5) !important;
  margin: 5px;
  overflow: auto;
}

// .cardImg {
//   min-width: 150px !important;
// }

// ul {
//   list-style: none;
// }

// .card {
//   display: inline;
// }

// .image {
//   width: 200px;
//   height: 200px;
// }
