.review-wrapper {
  display: flex;
  flex-direction: column;
}

.review-container {
  display: flex;
  margin: 1rem;
  justify-content: space-between;
  align-items: center;
}

.name-container {
  width: 100%;
}

.images-container {
  width: 5rem;
}

.link {
  color: #c6255a;
  &:hover {
    color: #5b152c;
  }
}
