.form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box {
  display: flex;
  flex-direction: column;
}

.send-button {
  width: 90px;
  height: 50px;
}

.photo-input {
  display: flex;
  margin-top: 40px;
}
